<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="red.mlz.study.mapper.StudentMapper">

    <insert id="insert" parameterType="red.mlz.study.entity.Student">
        insert into student (name, gender, create_time, update_time, is_deleted)
        values (#{student.name}, #{student.gender}, #{student.createTime}, #{student.updateTime}, #{student.isDeleted})
    </insert>

    <update id="update" parameterType="red.mlz.study.entity.Student">
        update student
        set name        = #{student.name},
            gender      = #{student.gender},
            update_time = #{student.updateTime}
        where id = #{student.id}
    </update>

</mapper>
